<div class="row">
	<div class="col-md-6">
		<h2><i class="fa fa-users"></i> Clients</h2>
	</div>
	<div class="col-md-6">
	<!-- Setting currency, and using "true" to mean we wanna show the symbol "$" instead of the text "USD" -->
		<h5 class="pull-right text-muted">
			Total Owed: {{totalOwed | currency:"USD":true}}
			<br><br>
			<a routerLink="/add-client" href="#" class="pull-right btn btn-success btn-sm">
				<i class="fa fa-plus"></i> Add Client
			</a>
			<br><br>	
		</h5>
	</div>
</div>
<table *ngIf="clients?.length > 0;else noClients" class="table table-striped">
	<thead class="thead-inverse">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>			
			<th>Balance</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let client of clients">
		<!-- Firebase lets us access keys in a special way -->
			<td>{{client.firstName}} {{client.lastName}}</td>
			<td>{{client.email}}</td>
			<td>{{client.phone}}</td>
			<td>{{client.balance | currency:"USD":true}}</td>
			<td><a [routerLink]="['/client/'+client.$key]" href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
		</tr>
	</tbody>
</table>

<!-- NG-template is used to show a component for cases such as this,
where we want to show it if there are no clients
 -->
<ng-template #noClients>
	<hr>
	<h5>There are no clients in the system</h5>
</ng-template>